[Desktop Entry]
Version=1.0
Type=Link
Name=mosaic
Comment=Open mosaic folder at its true path
Icon=folder
URL=file:///media/argo/ADATA%20SE880/PCE/Fisiere_universitate/Summer_Traineeship/JWST_SLICE_data/Mosaics_v1pt6/PSZ2G116.95-53.55
